.row1 {
width: 100%;
min-height: 100vh;
background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: rgb(53, 0, 25);
display: flex;
flex-direction: row;
}
.left {
flex: 3;
padding: 0 5em;
height: 100vh;
border-right: 1px solid rgb(0, 0, 0);
}

.left h1 {
    margin-top: 3em;
}

.right {
flex: 2;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
}

.qr {
width: 300px;
margin: 5em 0;
}

.homelinks {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.homelinks:hover {
    text-decoration: none;
    color: orange;
}